p{
    font-family: sans-serif;
    text-transform: unset;
    font-size: 30px;
    text-align: center;
}
img{
    width: 500;
    height: 300;
    margin-top: 20px;
    margin-left: auto;
}